$blur: 5px;
$color-white: #fff;
$color-black: #000;
$opacity: 0.7;
$z-index: 9999;
$transition: .2s ease-in-out;

.display_inline_block {
  display: inline-block;
}

.flex_center_vertical {
  align-items: center;
  display: inline-flex;
}

.flex {
  display: inline-flex;
  &_bottom {
    @extend .flex;
    align-items: flex-end;
    justify-content: center;
  }
  &_center {
    @extend .flex;
    align-items: center;
    justify-content: center;
  }
  &_left {
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
  }
  &_right {
    @extend .flex;
    align-items: center;
    justify-content: flex-end;
  }
  &_top {
    @extend .flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.react_spinner {
  &_anim {
    transition: $transition;
    transition-property: background-color, backdrop-filter;
  }

  &_position__relative {
    position: relative;
  }

  &__deactive {
    display: none !important;
  }
}

.mode {
  &__full {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index;
  }

  &__inside {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $z-index;
  }
}

.overlay {
  &__dark {
    background: rgba($color-black, $opacity);
  }

  &__light {
    background: rgba($color-white, $opacity);
  }
}

.blur {
  backdrop-filter: blur($blur);
}

.uikit {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;

  &_anim_rotate > * {
    animation: uikit-anim-rotate 1.4s linear infinite;
    transform: translate(0, 0);

    & > * {
      stroke-dasharray: 88px;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: uikit-anim-dash 1.4s ease-in-out infinite;
      stroke-width: 1;
      stroke-linecap: round;
    }
  }

  & svg {
    overflow: hidden;
  }

}

@keyframes uikit-anim-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes uikit-anim-dash {
  0% {
    stroke-dashoffset: 88px;
  }
  50% {
    stroke-dashoffset: 22px;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 88px;
    transform: rotate(450deg);
  }
}
